
  .dark {
    --color_background:#2C2828;
    --color_foreground:#3B2C85;
    --color_primary:#219897;
    --color_secondary:#85CFCB;
  }
  .light{
    --color_background:#ffffff;
    --color_foreground:#e3edf0;
    --color_primary:#219897;
    --color_secondary:#85CFCB;
  }

.pageTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;
}

.action {
  text-align: left;
  color: dodgerblue;
}

.task {
  height: auto;
  width: 200px;
  padding: 0.2rem 1rem;
  margin: 0.5rem;
  background: #a0f9ff;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 2px;
}

.container {
  padding: 0 2rem;
}

.pageTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.task {
  height: auto;
  width: 200px;
  padding: 0.25rem;
  border-radius: 2px;
}

.title {
  padding: 0.1rem;
  font-size: 1rem;
}

.description {
  font-size: 0.9rem;
  font-weight: normal;
}

.created {
  font-size: 0.7rem;
  font-weight: lighter;
}

.action {
  text-align: left;
  color: dodgerblue;
}